body {
  font-family: "Nunito", sans-serif;
  background-color: #efefef;
}

header {
  position: fixed;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 10px;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 999;
}

header.header-scrolled {
  background-color: rgba(0, 0, 0, 0.7);
}

.logo {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

#mobile-nav-toggle {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: transparent;
  padding: 0px;
  border: none;
  margin: 0px;
}

#mobile-nav-toggle .hamburger-btn:first-of-type {
  margin-bottom: 5px;
}

#mobile-nav-toggle .hamburger-btn {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

#mobile-nav-toggle.toggled {
  z-index: 999;
}

#mobile-nav-toggle.toggled .hamburger-btn:first-of-type {
  background-color: #000000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#mobile-nav-toggle.toggled .hamburger-btn:last-of-type {
  background-color: #000000;
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

nav {
  display: none;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav ul li {
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

nav ul li a {
  color: #111111;
  text-decoration: none;
}

nav.toggled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

nav.toggled .cta {
  display: none;
}

.cta {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 2px;
}

.cta.primary {
  background-color: #71a95a;
  border-color: #71a95a;
}

.cta.primary:hover {
  background-color: #007944;
  border-color: #007944;
}

.cta.secondary:hover {
  color: #111111;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
}

.title {
  text-align: center;
  margin: 20px auto;
}

#top-home {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
  background: url("../img/showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 70px;
  padding-bottom: 0px;
}

#top-home .top-home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#top-home .top-home-content .title {
  color: #ffffff;
  text-shadow: 0px 0px 5px #000000;
}

#top-home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: .4;
}

main section {
  width: 100%;
  height: 100vh;
}

#our-cause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

#our-cause p {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

#who-are-we {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #71a95a;
}

#who-are-we p {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

#contact-us {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  color: #ffffff;
  background: url("../img/contact-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#contact-us .big-text {
  margin: 0;
}

#contact-us .big-text .highlight {
  color: #71a95a;
}

#contact-us::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: .4;
}

footer {
  background-color: #111111;
  text-align: center;
  padding: 20px 15px;
}

footer p {
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  #mobile-nav-toggle {
    display: none;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul li {
    font-size: 16px;
  }
  nav ul li a {
    color: #ffffff;
  }
  .cta.secondary {
    margin-right: 10px;
  }
  .title {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */